{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}
{% block stylesheets %}
    <link href="http://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/4.12/video.js"></script>
    <style type="text/css">
        .vjs-default-skin { color: #e1d8d8; }
        .vjs-default-skin .vjs-play-progress,
        .vjs-default-skin .vjs-volume-level { background-color: #2c9237 }
        .vjs-default-skin .vjs-control-bar { font-size: 139% }
    </style>
{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 w3-center">

                {% if type == 'image' %}
                    <img src="{{ resource }}" alt="">
                {% elseif type == 'video' %}
                    <video id="MY_VIDEO_1" class="video-js vjs-default-skin" controls
                           preload="auto" width="840" height="464"
                           data-setup="{}">
                        <source src="{{ resource.url }}" type='video/mp4'>
                        <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                    </video>
                {% endif %}

                <p>
                <a class="btn btn-small btn-success" href="{{ path('content',{'id':app.user.id}) }}">Back to content</a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
